.tac {
    text-align: center;
}
.tar {
    text-align: right;
}
.tal {
    text-align: left;
}
.fl_left {
    float: left;
}
.fl_right {
    float: right;
}
.red {
    color: $color-primary;
}
.mT0 {
    margin-top: 0!important;
}
.mT25 {
    margin-top: 25px;
}
.pT0 {
    padding-top: 0 !important;
}
