* {
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 1100px;
    margin: auto;
}
.container_box {
    position: relative;
    width: 920px;
    margin: auto;
}
.clearfix {
    clear: both;
}
.title_h2 {
    text-align: center;
}
.listItems_tb {
    display: table;
    width: 100%;
    .items {
        display: table-cell;
    }
}
.listFlex {
    display: flex;
    align-items: flex-start;
}
.listItems {
    @extend %clearfix;
}
.text {
    color: $text;
    // font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
}
.note {
    font-size: 14px;
    letter-spacing: 0.5px;
    // font-weight: bold;
    color: $note;
}

.btn_big {
    @extend %clearfix;
    padding-top: 3vw;
    text-align: center;
    width: 942px;
    margin: auto;
    margin-top: 20px;
    .title_btn {
        margin-left: -28px;
        margin-bottom: 12px;
    }
    .description {
        float: left;
        width: 587px;
    }
    .thumbnail {
        margin-top: -18px;
        position: relative;
        right: -10px;
        float: left;
    }
}
a {
    img {
        transition: all 0.4s;
        &:hover {
            opacity: 0.75;
        }
    }
}
