.tac {
    text-align: center;
}
.tar {
    text-align: right;
}
.tal {
    text-align: left;
}
.fl_left {
    float: left;
}
.fl_right {
    float: right;
}
.red {
    color: $color-primary;
}
.mT0 {
    margin-top: 0!important;
}
.mR-10 {
    margin-right: -10px;
}
