.container {
    position: relative;
    width: 970px;
    margin: auto;
}

.listItems_tb {
    display: table;
    width: 100%;
    .items {
        display: table-cell;
    }
}
.listFlex {
    display: flex;
    align-items: flex-start;
}
.listItems {
    @extend %clearfix;
}
.note {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.btn {
    transition: all 0.4s;
    background: $color-btn;
    position: relative;
    display: block;
    margin: auto;
    font-weight: bold;
    color: $color-a;
    border: 3px solid $color-a;
    text-decoration: none;
    text-align: center;
    // for btn row 01
    margin-top: 22px;
    padding: 20px 0px 15px;
    width: 657px;
    font-size: 39px;
    &:after {
        content: "";
        position: absolute;
        top: calc(50% - 18px);
        right: 2%;
        background: url('../images/arrow_btn_big.png') no-repeat;
        width: 37px;
        height: 37px;
    }
    &:hover {
        border: 3px solid $color-btn;
        color: $color-btn;
        background: $color-a;
    }
    // for btn row 02
    &_small {
        margin-top: 0;
        margin-left: 46px;
        padding: 15px 0px 15px;
        width: 470px;
        font-size: 33px;
        &:after {
            top: calc(50% - 15px);
            background: url('../images/arrow_btn_small.png') no-repeat;
            width: 30px;
            height: 30px;
        }
    }
    &_top {
        width: 442px;
        margin-top: 0;
        font-size: 31px;
        padding: 12px 0px 10px;
        &:after {
            top: calc(50% - 15px);
            background: url('../images/arrow_btn_small.png') no-repeat;
            width: 30px;
            height: 30px;
        }
    }
}
