@import "variable";
@import "module_sp";
@charset "utf-8";
#vegebox {
	overflow-x: hidden;
}
.is_pc {
	display: none;
}
/*	Header
----------------------------------*/
#header_vegebox {
	background: url("../images/bg_header_sp.jpg") no-repeat;
	background-size: 100% 100%;
	// height: 441px;
	height: 245px;
	.logo {
		position: relative;
		width: 42%;
		padding-top: 7.5%;
		left: 5%;
	}
	.ico_top {
		position: absolute;
		top: 0;
		left: 35%;
		width: 12%;
	}
}
#leadArea {
	// padding: 30px 5%;
	padding: 7% 5% 3%;
	position: relative;
	background: $color-primary;
	.title_h2 {
		position: absolute;
		top: -12%;
		left: 0;
	}
	.listItems_tb {
		position: relative;
	}
	.text {
		position: relative;
		color: $color-a;
		font-size: 18px;
		line-height: 25px;
		// font-size: 31px;
		// line-height: 40px;
		padding-bottom: 10px;
		font-weight: bold;
		width: 72%;
		span {
			font-size: 14px;
			// font-size: 23px;
		}
	}
	.saleImg {
		// position: relative;
	}
	.tooltip_01 {
		position: absolute;
		top: -52%;
		right: -1%;
		width: 27%;
	}
	.btn {
		margin: 12px 0;
		text-align: center;
	}
	.note {
		color: $color-a;
		line-height: 25px;
		font-weight: bold;
		text-align: center;
	}
}
/*	local_01
----------------------------------*/
#local_01 {
	padding-top: 6.5%;
	.container {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: -9%;
			left: 0;
			background: url("../images/bg_vege_L_sp.png") no-repeat;
			background-size: contain;
			width: 52%;
			height: 32%;
		}
	}
	.note {
		// padding: 31px 9% 145px;
		padding: 15px 9% 60px;
		line-height: 25px;
	}
}
/*	local_02
----------------------------------*/
#local_02 {
	padding-left: 5%;
	padding-right: 5%;
	.title_h2 {
		margin-left: -6%;
		margin-right: -6%;
	}
	.text {
		text-align: center;
		font-size: 20px;
		// font-size: 30px;
		line-height: 36px;
		font-weight: bold;
		padding: 20px 0 30px;
	}
}
/*	local_03
----------------------------------*/
#local_03 {
	.row_01 {
		margin-top: 15px;
		background: $color-pink;
		position: relative;
		padding: 0px 10px 15px;
		.avatar {
			width: 209px;
			position: relative;
			top: -10px;
			width: 40%;
		}
		.description {
			margin-left: 5%;
			width: 51%;
			padding-right: 2%;
		}
		.title_h3 {
			color: $color-primary;
			font-size: 18px;
			line-height: 28px;
			span {
				color: $color-o;
				font-size: 12px;
			}
			.fs38 {
				font-size: 24px;
			}
		}
		.text {
			text-align: justify;
			padding-top: 5px;
			line-height: 20px;
		}
		.thumbnail_news {
			position: absolute;
			right: 10px;
			top: -2%;
			width: 54%;
		}
	}
	.row_02 {
		padding: 0px 7% 15px;
		.listFlex {
			padding-top: 15px;
		}
		.text {
			font-weight: bold;
			padding-bottom: 15px;
			font-size: 15px;
			line-height: 26px;
		}
		.avatar {
			display: flex;
			flex-wrap: wrap;
			li {
				margin-right: 18px;
				width: calc((100% / 2) - 9px + (0px / 2));
				line-height: 22px;
				margin-bottom: 20px;
				&:nth-child(even) {
					margin-right: 0;
				}
			}
			p {
				padding-top: 8px;
				font-size: 14px;
			}
			h5 {
				color: $color-primary;
				font-size: 22px;
			}
		}
	}
}
/*	local_infoSale
----------------------------------*/
.local_infoSale {
	position: relative;
	background: $color-primary;
	padding-top: 11%;
	// padding-left: 3%;
	// padding-right: 3%;
	.title_h2 {
		top: -1%;
		left: 0;
		position: absolute;
		font-weight: bold;
		font-size: 15px;
		line-height: 29px;
		color: #d00e31;
		background: url('../images/tit_05_sp.png') no-repeat;
		background-size: 100%;
		width: 71%;
		height: 26%;
		padding-top: 5.5%;
		padding-left: 29%;
		z-index: 1;
	}
	.imageSale {
		padding: 0 3%;
		width: 96%;
	}
	.noteBtn {
		text-align: center;
		position: relative;
		font-size: 13px;
		z-index: 1;
		font-weight: bold;
		padding-top: 3px;
	}
	.row_01 {
		position: relative;
		border-radius: 20px;
		// background: $color-a;
		background: url("../images/bg_box.png");
		background-size: 100%;
		padding-left: 6%;
		padding-right: 6%;
		padding-bottom: 12px;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 58px;
			bottom: 0%;
			left: 0;
			right: 0;
			background: url("../images/bg_box_bottom.png") no-repeat;
			background-position: bottom;
			background-size: 100%;
		}
		.listFlex {
			position: relative;
			z-index: 9;
			align-items: flex-end;
			// padding-left: 2%;
			// padding-right: 2%;
		}
		.text {
			position: relative;
			width: 70%;
			padding-top: 20px;
			padding-bottom: 5px;
			// font-size: 36px;
			font-size: 18px;
			line-height: 25px;
			font-weight: bold;
		}
		span {
			// font-size: 23px;
			font-size: 14px;
		}
		.imgSale {
			position: relative;
			// padding-right: 64px;
		}
		.tooltip_02 {
			position: absolute;
			top: -202%;
			right: -5%;
			width: 30%;
		}
		.btn {
			margin: 12px auto 0;
		}
	}
	.note {
		text-align: center;
		padding: 6px 5% 10px;
		color: $color-a;
		&.second {
			text-align: center;
			padding: 10px 0 14px;
			line-height: 20px;
			width: 90%;
			margin: auto;
		}
		a {
			color: $color-a;
		}
	}
	.row_02 {
		position: relative;
		overflow: hidden;
		background: url("../images/bg_box.png");
		background-size: 100%;
		border-radius: 20px;
		padding-bottom: 12px;
		padding-top: 7px;
		padding-left: 6%;
		padding-right: 6%;
		// padding-right: 48px;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 40px;
			top: 0%;
			left: 0;
			right: 0;
			background: url("../images/bg_box_top.png") no-repeat;
			// background-position: top;
			background-size: 100%;
		}
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 58px;
			bottom: 0%;
			left: 0;
			right: 0;
			background: url("../images/bg_box_bottom.png") no-repeat;
			background-position: bottom;
			background-size: 100%;
		}
		.listFlex {
			position: relative;
			justify-content: space-between;
			align-items: center;
			&.second {
				padding: 10px 0 0 0;
			}
		}
		.title_h3 {
			// padding: 22px 38px 22px 57px;
			padding: 10px 16px 8px 26px;
			font-size: 15px;
			line-height: 26px;
			width: 40%;
			margin-left: -2.7%;
			font-weight: bold;
			color: $color-primary;
			background: $color-pink2;
			border-top: 2px solid $color-primary;
			border-right: 2px solid $color-primary;
			border-bottom: 2px solid $color-primary;
		}
		.text {
			padding-left: 5px;
			padding-right: 10px;
			// text-align: left;
			font-size: 18px;
			line-height: 20px;
			font-weight: bold;
			span {
				font-size: 12px;
			}
			.fs12 {
				font-size: 8px;
			}
		}
	}
}
/*	local_04
----------------------------------*/
#local_04 {
	background: url("../images/background_01.png");
	padding: 28px 7% 22px;
	.title_h2 {
	}
	.row_01 {
		.title_h3 {
			padding-top: 37px;
			padding-bottom: 19px;
		}
		.description {
			padding-bottom: 42px;
		}
		.text {
			font-size: 15px;
			padding-top: 16px;
			line-height: 26px;
		}
	}
	.row_02 {
		.note {
			font-weight: bold;
			padding-top: 23px;
		}
	}
	.row_03 {
		padding-bottom: 20px;
		.title_h3 {
			padding: 50px 0 15px;
		}
		.avatar {
			margin-left: -10%;
			float: left;
			width: 45%;
		}
		.description {
			float: right;
			width: 65%;
			.text {
				font-weight: bold;
				padding-left: 10px;
				font-size: 15px;
				line-height: 24px;
			}
		}
	}
	.row_04 {
		.listFlex {
			flex-direction: column;
			background: rgba(255, 255, 255, 0.65);
			border-radius: 12px;
			padding: 25px 8%;
		}
		.title_h5 {
			color: $color-primary;
			font-size: 13px;
		}
		.title_h4 {
			font-weight: bold;
			span {
				color: $color-o;
				font-size: 10px;
			}
			.fs38 {
				font-size: 23px;
			}
		}
		.avatar {
			order: 1;
			position: relative;
			.spFlex {
				padding-top: 25px;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			.imgAvatar {
				width: 43%;
			}
			.descriptAvatar {
				width: 54%;
			}
			.text {
				line-height: 20px;
			}
		}
		.description {
			order: 2;
			.text {
				padding-top: 14px;
				font-weight: bold;
				font-size: 15px;
				line-height: 29px;
				text-align: justify;
			}
		}
	}
}
/*	local_05
----------------------------------*/
#local_05 {
	padding-top: 54px;
	padding-bottom: 40px;
	.title_h2 {
		position: relative;
		padding-bottom: 50px;
		text-align: center;
		font-size: 19px;
		line-height: 34px;
		span {
			font-size: 32px;
			color: $color-primary;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: url("../images/line_tit_sp.jpg")no-repeat center;
			background-size: 100%;
			width: 100%;
			height: 43px;
		}
	}
	.tableContent {
		padding: 0 7%;
		a {
			color: $color-primary;
		}
		.items {
			border-bottom: 2px dotted $color-brd1;
			margin: 22px 0;
			li {
				font-size: 16px;
				line-height: 33px;
				font-weight: bold;
				padding-left: 40px;
				background: url('../images/ico_A.png') no-repeat;
				margin-bottom: 25px;
			}
			.red {
				margin-bottom: 6px;
				background: url('../images/ico_Q.png') no-repeat;
			}
		}
	}
}
/*	Footer
----------------------------------*/
#footer_vegebox {
	text-align: center;
	// font-size: 16px;
	line-height: 25px;
	padding: 25px 5px 20px;
	a {
		text-decoration: none;
		color: $color-o;
	}
	.copyright {
		padding-top: 10px;
	}
}

@media all and (-ms-high-contrast: none) {
	#vegebox {
		font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Verdana, sans-serif;
	}
}
#vegebox img {
	// width: 100%;
	max-width: 100%;
	height: auto;
	// display: block;
}
@media screen and (max-width: 350px) {
	.btn {
		font-size: 18px;
		&:after {
	        content: "";
	        position: absolute;
	        right: 2%;
	        top: calc(50% - 12px);
	        background: url('../images/arrow_btn_small.png') no-repeat;
			background-size: 100% 100%;
	        width: 24px;
	        height: 24px;
	    }
	}
	#leadArea {
		.text {
			font-size: 15px;
			line-height: 22px;
			span {
				font-size: 12px;
			}
		}
	}
	.local_infoSale {
		.title_h2 {
			font-size: 13px;
			padding-top: 5%;
		}
		.row_01 {
			.text {
				font-size: 15px;
				line-height: 20px;
			}
			span {
				font-size: 12px;
			}
		}
		.row_02 {
			.title_h3 {
				padding: 5px 8px 4px 14px;
				line-height: 22px;
			}
			.text {
				padding-right: 10px;
				font-size: 15px;
			}
		}
	}
	#local_03 {
		.row_01 {
			.title_h3 {
				font-size: 16px;
			}
			.description {
				width: 54%;
			}
		}
	}
}
@import "helper";
.mL-6 {
	margin-left: -6px;
}
.mR-15 {
	margin-right: inherit;
}
